#include <dt-bindings/zmk/behaviors.h>
#include <input/processors.dtsi>
#include <input/processors/runtime-input-processor.dtsi>
#include <scroll-snap.dtsi>
#include <mouse-gesture.dtsi>
#include <behaviors/input_gestures_accel.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/* レイヤー・モディファイアカスタマイズ */

&lt {
    quick-tap-ms = <180>;
    flavor = "hold-preferred";
};

&mt {
    quick-tap-ms = <180>;
    flavor = "hold-preferred";
};

/* トラックボール関連 */

&zip_temp_layer {
    excluded-positions = <
        12 /* left Ctrl */
        24 /* left Shift */
        30 /* right B */
        31 /* N */
        32 /* M */
        33 /* , */
        37 /* left Alt */
    >;

    // マウスレイヤーを解除しないキーリスト

    require-prior-idle-ms = <200>; // キー入力から一定時間はAMLを発動しない
};

&mkp_input_listener {
    input-processors = <&zip_temp_layer 4 100000>; // マウスキーで時間延長
};

&zip_mouse_gesture {
    /* マウスジェスチャー */

    stroke-size = <50>;
    idle-timeout-ms = <0>;
    gesture-cooldown-ms = <10>;

    history_back {
        pattern = <GESTURE_LEFT>;
        bindings = <&kp LA(LEFT)>;
    };

    history_forward {
        pattern = <GESTURE_RIGHT>;
        bindings = <&kp LA(RIGHT)>;
    };

    close_tab {
        pattern = <GESTURE_DOWN>;
        bindings = <&kp LC(W)>;
    };

    new_tab {
        pattern = <GESTURE_UP>;
        bindings = <&kp LC(T)>;
    };
};

&pointer_accel {
    /* ポインタ加速 */

    input-type = <INPUT_EV_REL>;  // 相対入力デバイス用
    track-remainders;             // 小数点以下の移動量を蓄積する
    min-factor = <800>;           // 非常に遅い速度で 0.8倍
    max-factor = <3000>;          // 高速時に 3.0倍
    speed-threshold = <1200>;     // 1x（等倍）となる速度の閾値：毎秒 1200 カウント
    speed-max = <6000>;           // 最大加速が適用される速度：毎秒 6000 カウント
    acceleration-exponent = <2>;  // 二次（2乗）による加速曲線
};

/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        /* トラックボール操作でマウスレイヤー起動 */

        input-processors = <
            &mouse_runtime_input_processor
            &zip_temp_layer 4 100000
            &pointer_accel
            &zip_mouse_gesture
        >;

        /* 特定のレイヤーでスクロールモード */

        scroll_mode {
            layers = <1 2>;
            input-processors = <
                &scroll_runtime_input_processor
                &pointer_accel
                &zip_scroll_snap
                &zip_mouse_gesture
            >;
        };
    };

};

&mouse_runtime_input_processor {
    processor-label = "mouse";
    x-codes = <INPUT_REL_X>;
    y-codes = <INPUT_REL_Y>;
    rotation-degrees = <30>;
    xy-swap-enabled;
    y-invert;
    scale-multiplier = <1>;
    scale-divisor = <1>;
};

&scroll_runtime_input_processor {
    processor-label = "scroll";
    x-codes = <INPUT_REL_X>;
    y-codes = <INPUT_REL_Y>;
    rotation-degrees = <30>;
    xy-swap-enabled;
    y-invert;
    xy-to-scroll-enabled;
    scale-multiplier = <1>;
    scale-divisor = <10>;
};

/* ビヘイビア・キーマップ関連 */

/ {
    behaviors {
        /* タップダンス */

        td_CS: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <170>;
            bindings = <&kp COMMA>, <&kp SEMI>;

            label = ",";
        };

        td_DC: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <170>;
            bindings = <&kp DOT>, <&jp_colon>;

            label = ".";
        };

        td_CME: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <170>;
            bindings = <&mt RCTRL MINUS>, <&jp_equal>;

            label = "/";
        };

        /* レイヤーインジケータ */

        rlt_red: rgb_layer_tap_red {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rmo_red>, <&kp>;

            quick-tap-ms = <160>;
        };

        rmo_red: rgb_mo_red {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(0,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rlt_blue: rgb_layer_tap_blue {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rmo_blue>, <&kp>;

            quick-tap-ms = <160>;
        };

        rmo_blue: rgb_mo_blue {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(240,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rlt_green: rgb_layer_tap_green {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rmo_green>, <&kp>;

            quick-tap-ms = <160>;
        };

        rmo_green: rgb_mo_green {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(120,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rlt_yellow: rgb_layer_tap_yellow {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rmo_yellow>, <&kp>;

            quick-tap-ms = <160>;
        };

        rmo_yellow: rgb_mo_yellow {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(60,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rlt_violet: rgb_layer_tap_violet {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rmo_violet>, <&kp>;

            quick-tap-ms = <160>;
        };

        rmo_violet: rgb_mo_violet {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(270,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        /* モディファイアインジケータ */

        rmt_orange: rgb_mod_tap_orange {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rkp_orange>, <&kp>;

            quick-tap-ms = <160>;
        };

        rkp_orange: rgb_kp_orange {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(15,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rmt_cyan: rgb_mod_tap_cyan {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rkp_cyan>, <&kp>;

            quick-tap-ms = <160>;
        };

        rkp_cyan: rgb_kp_cyan {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(180,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rmt_magenta: rgb_mod_tap_magenta {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rkp_magenta>, <&kp>;

            quick-tap-ms = <160>;
        };

        rkp_magenta: rgb_kp_magenta {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(300,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        rmt_lime: rgb_mod_tap_lime {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <180>;
            bindings = <&rkp_lime>, <&kp>;

            quick-tap-ms = <160>;
        };

        rkp_lime: rgb_kp_lime {
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_param_1to1>,
                <&macro_press>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_ON>,
                <&macro_tap>,
                <&rgb_ug RGB_COLOR_HSB(90,100,50)>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_tap>,
                <&rgb_ug RGB_OFF>;
        };

        /* 日本語キーボード用マクロ定義 */

        jp_dquote: jp_dquote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_DQUOTE";
            bindings = <&kp AT>;
        };

        jp_amp: jp_amp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_AMP";
            bindings = <&kp CARET>;
        };

        jp_quote: jp_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_QUOTE";
            bindings = <&kp AMPERSAND>;
        };

        jp_equal: jp_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_EQUAL";
            bindings = <&kp UNDER>;
        };

        jp_caret: jp_caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_CARET";
            bindings = <&kp EQUAL>;
        };

        jp_yen: jp_yen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_YEN";
            bindings = <&kp 0x89>;
        };

        jp_plus: jp_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_PLUS";
            bindings = <&kp COLON>;
        };

        jp_tilde: jp_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_TILDE";
            bindings = <&kp PLUS>;
        };

        jp_pipe: jp_pipe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_PIPE";
            bindings = <&kp LS(0x89)>;
        };

        jp_at: jp_at {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_AT";
            bindings = <&kp LEFT_BRACKET>;
        };

        jp_colon: jp_colon {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_COLON";
            bindings = <&kp SINGLE_QUOTE>;
        };

        jp_aster: jp_aster {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_ASTER";
            bindings = <&kp DOUBLE_QUOTES>;
        };

        jp_baqt: jp_baqt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_BAQT";
            bindings = <&kp LEFT_BRACE>;
        };

        jp_under: jp_under {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_UNDER";
            bindings = <&kp LS(0x87)>;
        };

        jp_lbrkt: jp_lbrkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_LBRACKET";
            bindings = <&kp RIGHT_BRACKET>;
        };

        jp_rbrkt: jp_rbrkt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_RBRACKET";
            bindings = <&kp BACKSLASH>;
        };

        jp_lpar: jp_lpar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_LPAREN";
            bindings = <&kp ASTERISK>;
        };

        jp_rpar: jp_rpar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_RPAREN";
            bindings = <&kp LEFT_PARENTHESIS>;
        };

        jp_lbrace: jp_lbrace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_LBRACE";
            bindings = <&kp RIGHT_BRACE>;
        };

        jp_rbrace: jp_rbrace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_RBRACE";
            bindings = <&kp PIPE>;
        };

        jp_kana: jp_kana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_KANA";
            bindings = <&kp LANGUAGE_1>;
        };

        jp_eisu: jp_eisu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_EISU";
            bindings = <&kp LANGUAGE_2>;
        };

        jp_hanzen: jp_hanzen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "JP_HANZEN";
            bindings = <&kp GRAVE>;
        };
    };

    macros {
    };

    /* キーマップ */

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
  &kp ESC                     &kp Q                       &kp W             &kp E             &kp R                     &kp T            &kp Y  &kp U  &kp I  &kp O   &kp P    &kp BSPC
  &rmt_cyan LCTRL TAB         &kp A                       &kp S             &kp D             &kp F                     &kp G            &kp H  &kp J  &kp K  &kp L   &td_CME  &rmt_cyan RCTRL LS(RET)
  &rmt_orange LSHFT CAPSLOCK  &kp Z                       &kp X             &kp C             &kp V                     &kp B            &kp B  &kp N  &kp M  &td_CS  &td_DC   &rmt_orange RSHFT SLASH
  &rlt_yellow 3 LG(TAB)       &rmt_magenta LALT CAPSLOCK  &rlt_red 1 SPACE  &rlt_green 2 RET  &rmt_lime RGUI RS(K_APP)  &rlt_blue 4 DEL
            >;
        };

        layer_1 {
            bindings = <
  &trans               &kp F1    &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7  &kp F8   &kp F9     &kp F10              &trans
  &trans               &kp N1    &kp N2     &kp N3     &kp N4     &kp N5     &kp N6     &kp N7  &kp N8   &kp N9     &kp N0               &trans
  &trans               &jp_plus  &kp MINUS  &jp_aster  &kp SLASH  &jp_under  &jp_equal  &jp_at  &jp_yen  &jp_colon  &kp INTERNATIONAL_1  &trans
  &rlt_violet 5 SPACE  &trans    &trans     &trans     &trans     &trans
            >;
        };

        layer_2 {
            bindings = <
  &trans  &kp EXCL   &jp_dquote  &kp HASH  &kp DLLR   &kp PRCNT            &jp_amp     &kp PG_UP  &kp UP    &kp PG_DN  &trans    &kp DEL
  &trans  &jp_amp    &jp_quote   &jp_lpar  &jp_lbrkt  &jp_lbrace           &kp HOME    &kp LEFT   &kp DOWN  &kp RIGHT  &kp BSPC  &trans
  &trans  &jp_caret  &jp_baqt    &jp_rpar  &jp_rbrkt  &jp_rbrace           &kp LA(UP)  &kp END    &trans    &trans     &trans    &trans
  &trans  &trans     &trans      &trans    &trans     &rlt_violet 5 SPACE
            >;
        };

        layer_3 {
            bindings = <
  &trans  &trans     &trans               &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans     &trans               &trans     &trans     &trans     &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &kp LC(Z)  &kp LC(X)            &kp LC(C)  &kp LC(V)  &kp LC(Y)  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans     &rlt_violet 5 SPACE  &trans     &trans     &trans
            >;
        };

        layer_4 {
            bindings = <
  &trans  &trans  &trans  &trans               &trans  &trans  &trans     &trans     &trans  &trans          &trans  &rgb_ug RGB_EFR
  &trans  &trans  &trans  &trans               &trans  &trans  &trans     &trans     &trans  &trans          &trans  &rgb_ug RGB_EFF
  &trans  &trans  &trans  &trans               &trans  &trans  &mkp LCLK  &mkp RCLK  &mo 1   &mouse_gesture  &trans  &trans
  &trans  &trans  &trans  &rlt_violet 5 SPACE  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
  &out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
  &out OUT_USB  &trans        &trans        &trans        &bt BT_CLR    &bt BT_CLR_ALL  &trans  &trans  &trans  &trans  &trans  &trans
  &trans        &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
  &trans        &bootloader   &trans        &trans        &bootloader   &trans
            >;
        };
    };
};
